.number{
        padding: 17px 0;
        background-image: url("../../img/fish.svg");
        background-repeat: no-repeat;
        background-position: left top 30px;

        &__title{
            font-family: "Rubik", sans-serif;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #1A212F; 
            text-align: center;
            padding-bottom: 70px;
        }

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }
    &__item{
        width: 500px;
        height: 284px;
        border-radius: 8px;
        box-shadow: 0px 0px 25px 0px #D0D0D040;
        background-color: #FFFFFF;
        z-index: 1;
    }

}