.otziv{
    padding: 143px 0;
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    &__item{
        width: 470px;
        height: 206px;
        border-radius: 8px;
        box-shadow: 0px 0px 25px 0px #D0D0D040;        
        background-image: url("../../img/“.svg");
        background-repeat: no-repeat;
        background-position: left 20px top 30px;
        padding: 35px 35px 35px 70px;

    }
    &__title{
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #1A212F;
    }
}