.why-us{
    padding: 100px 0;
    background-image: url("../../img/paw\ \(1\).svg");
    background-repeat: no-repeat;
    background-position: right top;
    z-index: 0;
    &__title{
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #1A212F;
        text-align: center;
        align-items: center;
        padding-bottom: 70px;
    }
    &__list{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        text-align: left;
        gap: 30px;
    }
    &__item{
        padding: 30px 23px; 
        width: 370px;
        height: 321px;
        border-radius: 8px;
        border-width: 0px, 0px, 0px, 0px;
        border-style: solid;
        border-color: #FFFFFF;
        box-shadow: 0px 0px 25px 0px #D0D0D040;
        background-color: #FFFFFF;
    }
    &__item__title{
        width: 309px;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #1A212F;
        padding-top: 25px;
        padding-bottom: 15px;
    }
    &__item__text{
        width: 309px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #1A212F;
    }
}